In [1]:
import pandas as pd

In [3]:
course_json = {
    "author": "icahro-tb",
    "creation_date": "2022-08-11",
    "update_date": "2022-08-12",
    "courses":[
        {
            "id": 1,
            "course_name": "Scientific Computing Python",
            "starting_date": "unknown",
            "finishing_date": "unknown",
            "course_web": "freecodecamp.org"
        },
        {
            "id": 2,
            "course_name": "Introduction to MongoDB",
            "starting_date": "unknown",
            "finishing_date": "unknown",
            "course_web": "coursera.com"
        }
    ]
}

df = pd.DataFrame(course_json)
df

,author,creation_date,update_date,courses
0,icahro-tb,2022-08-11,2022-08-12,"{'id': 1, 'course_name': 'Scientific Computing..."
1,icahro-tb,2022-08-11,2022-08-12,"{'id': 2, 'course_name': 'Introduction to Mong..."

In [2]:
course_only = {    
    "courses":[
        {
            "id": 1,
            "course_name": "Scientific Computing Python",
            "starting_date": "unknown",
            "finishing_date": "unknown",
            "course_web": "freecodecamp.org"
        },
        {
            "id": 2,
            "course_name": "Introduction to MongoDB",
            "starting_date": "unknown",
            "finishing_date": "unknown",
            "course_web": "coursera.com"
        }
    ]
}

df = pd.DataFrame(course_only)
df

                                             courses
0  {'id': 1, 'course_name': 'Scientific Computing...
1  {'id': 2, 'course_name': 'Introduction to Mong...

In [9]:
import pprint

with open(r'C:\Users\DANIEL\workspace\gitwork\Courses\course_list.json', 'r') as file:
    for line in file:
        print(line)

{

    "author": "icahro-tb",

    "creation_date": "2022-08-11",

    "update_date": "2022-08-12",

    "courses":[

        {

            "id": 1,

            "course_name": "Scientific Computing Python",

            "starting_date": "unknown",

            "finishing_date": "unknown",

            "course_web": "freecodecamp.org"

        },

        {

            "id": 2,

            "course_name": "Introduction to MongoDB",

            "starting_date": "unknown",

            "finishing_date": "unknown",

            "course_web": "coursera.com"

        }

    ]

}